
html {
    scroll-behavior: smooth
}

*{
    @import url(//db.onlinewebfonts.com/c/cfdf18a10f253f0aa9db6db978d328c0?family=SignPainter+HouseScript);
}

body {
    margin: 0px;
    
 overflow-x: hidden; /* Hide scrollbars */
      
}

#wrapper {
    display: grid;
    grid-template-areas: 
    'nv'
    'mn'
    'ft';
    grid-template-rows: 10% auto 15%;
    min-height: 100vh;
    max-width: 100vw;
}


.header {
    grid-area:nv;
    background-color: #ACB0F2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: #4B50BF solid 10px;
    width: 100vw;
    position: fixed;
}

#top {
    background-color: transparent;
    border: 0;
    width: 6em;

}
#HomeIcon {
    width: 5em;
}

  
.navlinks li {
    list-style: none;
    padding-top: 3em;
   
}
  
.navlinks a {
    text-decoration: none;
    letter-spacing: 3px;
    font-weight:bold;
    font-size: 20px;
   
}
  
  
.navlinks {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 3em;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0px;
    height: 100vh;
    background-color: #ACB0F2;
    width: 20%;
    transition: all 0.5s;
    border-left: #4B50BF solid 10px;
}

.burger div {
    width: 25px;
    height:3px;
    background-color: #000000;
    margin:5px;
    border-radius: 25%;
    transition: all 0.3s;
}
  
.burger {
    margin-right: 20px;
    cursor: pointer;
}



.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    margin-right: 30px;
    transition: 0.5s;
}
  
.toggle .line2 {
    opacity:0;
    transition: 0.3s;
}
  
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
    margin-right: 30px;
    transition: 0.5s;
}
  
.navActive {
    transform: translateX(100vw);
    transition: all 1s;
    position: fixed; 
    box-sizing: unset;
}

#search {
    width: 50px;
}

#cart {
    width: 50px;
}


.logoBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin-top: 10px;
}

.logoImage {
    width: 3em;
}



#text {
font-family: "SignPainter HouseScript"; src: url("//db.onlinewebfonts.com/t/cfdf18a10f253f0aa9db6db978d328c0.eot"); src: url("//db.onlinewebfonts.com/t/cfdf18a10f253f0aa9db6db978d328c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/cfdf18a10f253f0aa9db6db978d328c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/cfdf18a10f253f0aa9db6db978d328c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/cfdf18a10f253f0aa9db6db978d328c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/cfdf18a10f253f0aa9db6db978d328c0.svg#SignPainter HouseScript") format("svg");
font-size: larger;
margin-top: 0px;
margin-bottom: 0px;

}
    


.main {
    grid-area: mn;
    background-color:#ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
 
}
.itemdiv {
    display: grid;
    grid-template-areas: 
    'i1 i2'
    'i3 i4'
    'i5 i6'
    ;
}

.shopitems {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

#item1 {
    grid-area: i1;
    margin-right: 3em;
}
#item2 {
    grid-area: i2;
    margin-left: 3em;
}
#item3 {
    grid-area: i3;
    margin-right: 3em;
}
#item4 {
    grid-area: i4;
    margin-left: 3em;
}
#item5 {
    grid-area: i5;
    margin-right: 3em;
}
#item6 {
    grid-area: i6;
    margin-left: 3em;
}

.guitarimages {
   height: 30vh;
   width: 30vw;
   align-items: center;  
   margin-right: 0px;
}

#g1 {
    background-image: url(../img/BrownGuitar.jpg);
    background-size: cover;
    background-position-x: center;
    margin: 0;
    
}

#g2 {
    background-image: url(../img/BlueGuitar.jpg);
    background-size: cover;
    background-position-x: center;
    margin: 0;
}
#g3 {
    background-image: url(../img/RedGuitar.jpg);
    background-size: cover;
    background-position-x: center;
    margin: 0;
}
#g4 {
    background-image: url(../img/PurpleGuitar.jpg);
    background-size: cover;
    background-position-x: center;
    margin: 0;
}
#g5 {
    background-image: url(../img/BlackGuitar.jpg);
    background-size: cover;
    background-position-x: center;
    margin: 0;
}
#g6 {
    background-image: url(../img/WhiteGuitar.jpg);
    background-size: cover;
    background-position-x: center;
    margin: 0;
}



.productText {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content:center;
    font-weight: lighter;
}

.productTextLine {
    width: 6em;
}


.footer {
    grid-area: ft;
    background-color: #4B50BF;
    border-top: #231773 solid 10px;
}

.footHead {
    list-style-type: none;
    padding: 10px;
    color: #EBEDF2;
    font-size: 20px;
}

.footHead h3 {
    margin-top: 10px;

}
.footerheaders {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    margin-left: 20px;
    margin-bottom: 0px;
    margin-block-start: 0px;
    
}

.footsub {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 6em;
    justify-content: flex-start;
    top: 10em;
    color: #c3c5ca;
    font-size: medium;
}



/*-------------------------------------------------------------
Page 2: Search
---------------------------------------------------------------*/


#wrapper2 {
    display: grid;
    grid-template-areas: 
    'sb'
    'm2'
    'ft'
    ;
    grid-template-rows: 10vh auto 20vh;
    min-height: 100vh;
}

#navHead2 {
    grid-area: sb;
    background-color: #ACB0F2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: #4B50BF solid 10px;
}

.searchtitle {
 border-bottom: #EBEDF2 3px solid;
 color: #EBEDF2;
 margin-left: 20px;
 font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
 
}

#main2 {
    grid-area: m2;
}

#searchbox {
background-color:#777eff;
display: flex;
align-items: center;
height: 40px;
border-radius: 5px;
padding-left: 3px;
padding-right: 5px;
}

.typebox {
    height: 2em;
    background-color: #8f93e5;
    padding-top: 10px;
    margin-right: 1em;
    width: 50vw;
    height: 20px;
    border: 0px;
    border-radius: 5px;
    color: #ffffff;
    
}

.SearchButton {
    background-image: url(../img/search_black_24dp.svg);
    width: 2em;
    height: 2em;
    background-repeat:no-repeat;
    background-size: 2em;
    
    border-radius: 5px;
}

.logoBox2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin-left: 20px;
}


/*-------------------------------------------------------------
Page 3: Search Result
---------------------------------------------------------------*/

#wrapper3 {
    display: grid;
    grid-template-areas: 
    'sb'
    'm3'
    'ft'
    ;
    grid-template-rows: 10vh auto 20vh;
    min-height: 100vh;
}

#main3 {
    grid-area: m3;
}

#main3 a {
    text-decoration: none;
    color: inherit;
}

.resultItems {
    display: flex;
}
.resultimg {
    width: 8em;
}

.resultText {
    display: flex;
    flex-direction:column;
    justify-content: center;
    line-height: 5px;
}

.resultTitle {
    font-weight: 100;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.resultBorder {
    grid-area: hr;
    height: 0px;
    width: 90vw;
    list-style: none;
    opacity: 30%;
}

/*-------------------------------------------------------------
Page 4: Product
---------------------------------------------------------------*/

#wrapper4 {
    display: grid;
    grid-template-areas:
    'nv'
    'm4'
    'ft';
    grid-template-rows: 10% auto 20vh;
    min-height: 100vh;
    max-width: 100vw;
}

#HomeIcon4 {
    width: 50px;
    padding-left: 1em;
}

#main4 {
    grid-area: m4;
    display: grid;
    grid-template-areas:
    'pb pb'
    'rb rb';
}

#productbox {
    grid-area: pb;
    margin-top: 3em;
}

#relatedbox {
    grid-area: rb;
}


.productitems {
    display: flex;
}
.productimg {
    width: 12em;
    height: 20em;
}

.productText4 {
    display: flex;
    flex-direction:column;
    justify-content: center;
    line-height: 1px;
    
}

.producttitle {
    font-weight: 100;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.productborder {
    grid-area: hr;
    height: 0px;
    width: 90vw;
    list-style: none;
    opacity: 30%;
    margin-top: 2em;
}

.ProductDesc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

#craft {
    margin-left: 20px;
}

#type {
    margin-left: 00px;
}

#log {
    margin-left: 3em;
}
.logColor {
    background-color: #976349;
    width: 2em;
    height: 2em;
    border-radius: 40%;
}

#pricetag {
    padding-top: 2em;
    display: flex;
    justify-content: center;
}

#ogpricebox {
    background-color:#ACB0F2;
    border-radius: 10px;
    border: #4B50BF 1px solid;
    width: 6em;
    display: flex;
    justify-content: center;
}

#ogpricetag {
    text-decoration: line-through;
    font-weight: lighter;
}
#saleprice {
    color: #6E30F2;
   padding-left: 10px;
}

#cartbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.cartbutton {
    background-color:limegreen;
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    
    padding: 5px;
}
#cartIcon {
    width: 3em;
}
#cartText {
    margin-left: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}